* {
    font-family: 'Hero New', sans-serif;
}

body div {
    padding: 40px 10%;
}

.header, .footer {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    /* padding: 0px 40px; */
}


.header-logo {
    text-decoration: none;
    color: inherit;
    align-self: center;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 1000;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 24px;

    color: #E5E7EB;
    font-size: 18px;
}


.container-website-info {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    /* padding: 40px; */
    justify-content: space-evenly;
    align-items: center;
}

.website-info-text {
    text-wrap: wrap;
    width: 50%;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 40px;

    align-self: stretch;
}

.website-info-text h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;

}

.website-info-text p {
    color: #E5E7EB;
    font-size: 18px;
}

.website-info-text button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 18px;
    padding: 3px 20px;
    border-radius: 5px;
    border: 0px;
}

.website-info-image {
    background-color: grey;
    color: #f9faf8;
    width: 50%;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-info-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0px 40px; */
}

.container-info-cards h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.carousel {
    display: flex;
    color: #4e4e4e;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    justify-content: center;
}

.carousel-item {
    padding: 0;
}

.carousel-item p {
    width: 150px;
    text-wrap: wrap;
    text-align: center;
}

.image-box {
    height: 150px;
    width: 150px;
    max-height: 150px;
    max-width: 150px;
    border: 5px solid #3882f6;
    border-radius: 10px;
    padding: 0;
}

.container-testimonial {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    /* padding: 40px; */
}

.quotation {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.quotation-author {
    font-size: 18px;
    text-align: right;
}

.container-call-to-action {
    /* padding: 20px; */
}

.call-to-action-box {
    margin: auto;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.call-to-action-text {
    color: #f9faf8;
}

.call-to-action-text h3{
    margin: 0;
}

.call-to-action-box button{
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 18px;
    padding: 3px 20px;
    border-radius: 5px;
    border: 3px solid white;
    max-height: 50px;
    align-self: center;
}

.footer p {
    color: #F9FAF8;
    padding: 20px;
    margin: auto;
}



